<%= render 'header' %>
<p><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Twitter風アプリ
                </div>
                <p>このサイトはruby on railsの練習に作成されました。</p>
                <p>ツイート一覧ページです</p>
                <%= link_to "ツイート", new_tweet_path, class: 'btn btn-primary' %>
                <!-- </div> -->
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h1>ツイート一覧</h1>
                    </div>
                <% @tweets.each do |tweet| %>
                        <div class="panel panel-body">
                            <%= tweet.content %>
                        </div>
                        <div class="panel panel-footer">
                            <%= link_to '編集する', edit_tweet_path(tweet.id), class: 'btn btn-success' %>
                            <%= link_to 'つぶやきを削除する', tweet_path(tweet.id), class: 'btn btn-danger', data: { confirm: '本当に削除して宜しいですか？' }, method: :delete %>
                        </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
